<%= notice %>
<%= form_for :user, :action => "/login", :method => :post do %>
	<p><%= text_field :login, :label => "Username" %></p>
	<p><%= password_field :password, :label => "Password" %></p>
	<%= submit "Login" %>
<% end =%>