<h2><%= @video.filename %></h2>

<dl>
	<dt>ID:</dt>
	<dd><%= @video.token %></dd>
	<dt>Status:</dt>
	<dd><%= @video.status %></dd>
	<dt>Duration:</dt>
	<dd><%= @video.duration_str %></dd>
</dl>

<% @video.encodings.each do |enc| %>
	<h3><%= enc.quality.format.name %> (<%= enc.quality.quality %>)</h3>
	
	<div class="video">
	<% if enc.status == "success" %>
		<%= enc.embed_html %>
	<% elsif enc.status == "error" %>
	    <div class="response">There was an error encoding to this format. We have been notified and will look into the issue immediately.</div>
	<% else %>
		<div class="response">Once uploaded and encoded the video will be displayed here.</div>
	<% end %>
	</div>
	
	<div class="embed_code">
		<h4>Embed code</h4>
		<textarea cols="50" rows="6"><%= enc.embed_html %></textarea>
	</div>
<% end %>