<h2>Sign up to Panda</h2>

<div class="notice">You must sign up with the same email address your invite was sent to.</div>

<% form_for :account, :action => "/signup" do %>
	<p><%= text_control :name, :label => "Name" %></p>
	<p><%= text_control :login, :label => "Login" %></p>
	<p><%= text_control :email, :label => "Email" %></p>
	
	<p><%= password_control :password, :label => "Password" %></p>
	<p><%= password_control :password_confirmation, :label => "Confirm password" %></p>
	
	<%= submit_button "Sign up" %>
<% end %>