<h2>Account details</h2>

<div class="account_details">
	<h3>Name</h3>
	<p class="note">Company, organisation or individual's name.</p>
	<p class="value"><%= @account.name %></p>
	
	<h3>Email</h3>
	<p class="note">Email address to send notifications and error reports to.</p>
	<p class="value"><%= @account.email %></p>
	
	<h3>Account key</h3>
	<p class="note">Your secret key used to authenticate API calls.</p>
	<p class="value"><%= @account.token %></p>
</div>

<h2>Settings</h2>

<div class="account_details">
	<h3>Upload redirect url</h3>
	<p class="note">After uploading a video using the form served by Panda, the user will be redirect to this url. Typically you should display a confirmation that the video has been uploaded and will take several minutes to process.</p>
	<p class="value"><%= @account.upload_redirect_url %></p>
	
	<h3>State update url</h3>
	<p class="note">Along each stage of the video upload process, Panda will report back to you the current state of a video. The variables $token and $state will be replaced with the video's token and it's new state: uploaded, encoding, error, encoding_error or done.</p>
	<p class="value"><%= @account.state_update_url %></p>
</div>

<div class="edit_details"><a href="/accounts/edit">Edit details</a></div>